<div ng-app="crudAppLocacao" ng-controller="ClienteCtrl">
	<div id="main" class="container-fluid">

		<h3 class="page-header">Cadastrar pessoa</h3>
		<div class="row">
			<div class="form-group col-md-1">
				<label for="inputId">ID</label> <input type="text"
					data-ng-model="cliente.idCliente" class="form-control"
					placeholder="ID auto" />
			</div>
			<div class="form-group col-md-2">
				<label for="cpf">CPF*</label> <input type="text"
					data-ng-model="cliente.cpf" class="form-control"
					placeholder="Digite aqui o CPF" />
			</div>
			<div class="form-group col-md-3">
				<label for="inputName">Nome</label> <input type="text"
					data-ng-model="cliente.nome" class="form-control"
					placeholder="Digite aqui o nome completo" />
			</div>
			<div class="form-group col-md-2">
				<label for="inputIdade">Endereço</label> <input type="text"
					data-ng-model="cliente.endereco" class="form-control"
					placeholder="Digite aqui o endereço completo" />
			</div>
			<div class="form-group col-md-4">
				<label for="inputPhone">Telefone</label> <input type="text"
					data-ng-model="cliente.telefone" class="form-control"
					placeholder="Digite aqui o telefone" />
			</div>
		</div>
		<div class="form-group col-md-10">
			<button ng-click="novo()" class="btn btn-primary pull-left h2">Novo</button>
			<button ng-click="salvar()" class="btn btn-success pull-right h2">Salvar</button>

		</div>
	</div>

	<!-- Pesquisa -->
	<div id="main" class="container-fluid">
		<h3 class="page-header">Pesquisar Cliente que mais Loca Veículo /
			Mês</h3>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="inputId">Mês</label> <input type="text"
					data-ng-model="mes" class="form-control"
					placeholder="Digite o Mês da Locação" />
			</div>
			<div class="form-group col-md-10">
				<button ng-click="listarPorLocacaoMes(mes)"
					class="btn btn-success pull-right h2">Pesquisar</button>
			</div>
		</div>

		<div id="main" class="container-fluid">
			<div id="top" class="row">
				<div class="col-sm-3">
					<h3 class="page-header">Cadastros</h3>
				</div>
				<div id="list" class="row">

					<div class="table-responsive col-md-12">
						<table class="table table-striped" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th>ID</th>
									<th><a href="#" data-ng-click="ordena('cpf')">CPF</a></th>
									<th><a href="#" data-ng-click="ordena('nome')">Nome</a></th>
									<th>Endereço</th>
									<th>Telefone</th>
									<th class="actions">Ações</th>
								</tr>
							</thead>
							<tbody>
								<!-- Lista-->
								<tr
									data-ng-repeat="cliente in clientes | orderBy:varOrdenacao | filter:{'nome':varFiltro}"
									style="cursor: pointer;">
									<td>{{cliente.idCliente}}</td>
									<td>{{cliente.cpf}}</td>
									<td>{{cliente.nome}}</td>
									<td>{{cliente.endereco}}</td>
									<td>{{cliente.telefone}}</td>
									<td class="actions"><a class="btn btn-warning btn-xs"
										ng-click="seleciona(cliente)"> Editar</a> <a
										class="btn btn-danger btn-xs"
										ng-click="seleciona(cliente); deletar()">Excluir</a></td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<!-- /#list -->
			</div>
			<!-- /#main -->
		</div>
		<!-- /#init-->