<div ng-app="crudAppLocacao" ng-controller="AvariaCtrl">
	<div id="main" class="container-fluid">

		<h3 class="page-header">Cadastrar avaria</h3>
		<div class="row">
			<div class="form-group col-md-1">
				<label for="inputId">ID</label> <input type="text"
					data-ng-model="avaria.idAvaria" class="form-control"
					placeholder="ID auto" />
			</div>
			<div class="form-group col-md-3">
				<label for="cpf">Valor</label> <input type="text"
					data-ng-model="avaria.valor" class="form-control"
					placeholder="Digite aqui o valor" />
			</div>
			<div class="form-group col-md-8">
				<label for="inputName">Descrição</label> <input type="text"
					data-ng-model="avaria.descricao" class="form-control"
					placeholder="Digite aqui a descrição" />
			</div>
		</div>
		<div class="form-group col-md-10">
			<button ng-click="novo()" class="btn btn-primary pull-left h2">Novo</button>
			<button ng-click="salvar()" class="btn btn-success pull-right h2">Salvar</button>

		</div>
	</div>

	<!-- Pesquisa -->
	<div id="main" class="container-fluid">
		<h3 class="page-header">Pesquisar Avaria por Locação</h3>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="inputId">ID Locação</label> <input type="text"
					data-ng-model="locacao.idLocacao" class="form-control"
					placeholder="Digite o ID da Locação" />
			</div>
			<div class="form-group col-md-10">
				<button ng-click="listarPorLocacao(locacao)"
					class="btn btn-success pull-right h2">Pesquisar</button>
			</div>
		</div>

		<div id="main" class="container-fluid">
			<div id="top" class="row">
				<div class="col-sm-3">
					<h3 class="page-header">Cadastros</h3>
				</div>
				<div id="list" class="row">

					<div class="table-responsive col-md-12">
						<table class="table table-striped" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th>ID</th>
									<th><a href="#" data-ng-click="ordena('valor')">Valor</a></th>
									<th>Descrição</th>
									<th class="actions">Ações</th>
								</tr>
							</thead>
							<tbody>
								<!-- Lista-->
								<tr data-ng-repeat="avaria in avarias | orderBy:varOrdenacao"
									style="cursor: pointer;">
									<td>{{avaria.idAvaria}}</td>
									<td>{{avaria.valor}}</td>
									<td>{{avaria.descricao}}</td>
									<td class="actions"><a class="btn btn-warning btn-xs"
										ng-click="seleciona(avaria)"> Editar</a> <a
										class="btn btn-danger btn-xs"
										ng-click="seleciona(avaria); deletar()">Excluir</a></td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<!-- /#list -->
			</div>
			<!-- /#main -->
		</div>
		<!-- /#init-->