<div ng-app="crudAppLocacao" ng-controller="CategoriaCtrl">
	<div id="main" class="container-fluid">

		<h3 class="page-header">Cadastrar categoria</h3>
		<div class="row">
			<div class="form-group col-md-1">
				<label for="inputId">ID</label> <input type="text"
					data-ng-model="categoria.idCategoria" class="form-control"
					placeholder="ID auto" />
			</div>
			<div class="form-group col-md-3">
				<label for="cpf">Preço</label> <input type="text"
					data-ng-model="categoria.preco" class="form-control"
					placeholder="Digite aqui o preço" />
			</div>
			<div class="form-group col-md-8">
				<label for="inputName">Descrição</label> <input type="text"
					data-ng-model="categoria.descricao" class="form-control"
					placeholder="Digite aqui a descrição" />
			</div>
		</div>
		<div class="form-group col-md-10">
			<button ng-click="novo()" class="btn btn-primary pull-left h2">Novo</button>
			<button ng-click="salvar()" class="btn btn-success pull-right h2">Salvar</button>

		</div>
	</div>

	<div id="main" class="container-fluid">
		<div id="top" class="row">
			<div class="col-sm-3">
				<h3 class="page-header">Cadastros</h3>
			</div>
			<div id="list" class="row">

				<div class="table-responsive col-md-12">
					<table class="table table-striped" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th>ID</th>
								<th><a href="#" data-ng-click="ordena('preco')">Preço</a></th>
								<th>Descrição</th>
								<th class="actions">Ações</th>
							</tr>
						</thead>
						<tbody>
							<!-- Lista-->
							<tr
								data-ng-repeat="categoria in categorias | orderBy:varOrdenacao"
								style="cursor: pointer;">
								<td>{{categoria.idCategoria}}</td>
								<td>{{categoria.preco}}</td>
								<td>{{categoria.descricao}}</td>
								<td class="actions"><a class="btn btn-warning btn-xs"
									ng-click="seleciona(categoria)"> Editar</a> <a
									class="btn btn-danger btn-xs"
									ng-click="seleciona(categoria); deletar()">Excluir</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<!-- /#list -->
		</div>
		<!-- /#main -->
	</div>
	<!-- /#init-->