<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/opt/assessoria/logs/assessoria.log" />
		<param name="Threshold" value="WARN" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%L:%-20c{1}] %m%n" />
		</layout>
	</appender>

	<root>
		<appender-ref ref="file" />
	</root>

</log4j:configuration> 