<div>
	<h2>Cadastro de avarias</h2>

	<label for="id">ID:</label>
 		<input type="text" data-ng-model="avaria.idCliente" readonly="readonly" class="form-control" placeholder="auto-geravel">
 	<br/>
	<label for="desricao">Descricao:</label>
 		<input type="text" data-ng-model="avaria.descricao" class="form-control" placeholder="Desricao">
 	<br/>
	<div>
		<button class="btn btn-primary" ng-click="novo()">Novo</button>
		<button class="btn btn-success" ng-click="salvar()">Salvar</button>
<!-- 		<button class="btn btn-danger" ng-click="deletar()">Deletar</button> -->
	</div>
	<br/>
	<div>
		<label for="filtro">Descricao:</label>
  		<input type="text" ng-model="varFiltro" class="form-control" id="filtro">
	<br/>
	<div>
		<label for="filtro">Pesquisar Multas por Locação</label>
  		<input type="text" ng-model="locacao.idLocacao" class="form-control" id="filtro" placeholder="Digite o ID da Locação">
  		<br/>
  		<div>
  		<button class="btn btn-warning" ng-click="buscaAvariaLocacao()">Pesquisar</button>
  		</div>
  		<br/>
  	</div>
  	<br/>
  	<br/>
	<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered table-condensed">
		<tr>
			<th><a href="#" data-ng-click="ordena('id')">ID</a></th>
			<th><a href="#" data-ng-click="ordena('Descricao')">DESCRIÇÃO</a></th>
			<th>EDITAR</th>
			<th>DELETAR</th>
		</tr>
		<tr
			data-ng-repeat="avaria in avarias | orderBy: varOrdenacao | filter: {'descricao':varFiltro}"
			style="cursor: pointer;">
			<td data-ng-click="seleciona(avaria)">{{avaria.idAvaria}}</td>
			<td data-ng-click="seleciona(avaria)">{{avaria.descricao}}</td>
			<td data-ng-click="seleciona(avaria)" style="text-align: center;"><img src="images/edit-icon.png" class="tam1" /></td>
			<td data-ng-click="seleciona(avaria); deletar()" style="text-align: center;"><img src="images/delete-icon.png" class="tam1" /></td>
		</tr>
	</table>
	</div>
</div>
