<div>
	<h2>Cadastro de clientes</h2>

	<label for="id">ID:</label>
 		<input type="text" data-ng-model="cliente.idCliente" readonly="readonly" class="form-control">
 	<br/>
	<label for="nome">Nome:</label>
 		<input type="text" data-ng-model="cliente.nome" class="form-control" placeholder="Nome">
 	<br/>
 	<label for="cpf">CPF:</label>
 		<input type="text" data-ng-model="cliente.cpf" class="form-control" placeholder="CPF">
 	 <br/>
 	 <label for="endereco">Endereco:</label>
 		<input type="text" data-ng-model="cliente.endereco" class="form-control" placeholder="Endereco">	
	<br/>
	<label for="telefone">Telefone:</label>
 		<input type="text" data-ng-model="cliente.telefone" class="form-control" placeholder="Telefone">
	<br />
	<div>
		<button class="btn btn-primary" ng-click="novo()">Novo</button>
		<button class="btn btn-success" ng-click="salvar()">Salvar</button>
<!-- 		<button class="btn btn-danger" ng-click="deletar()">Deletar</button> -->
	</div>
	<br/>
	<div>
		<label for="filtro">Nome:</label>
  		<input type="text" ng-model="varFiltro" class="form-control" id="filtro">
	<br/>
	<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered table-condensed">
		<tr>
			<th><a href="#" data-ng-click="ordena('id')">ID</a></th>
			<th><a href="#" data-ng-click="ordena('nome')">NOME</a></th>
			<th>CPF</th>
			<th>EDITAR</th>
			<th>TELEFONE</th>
			<th>EDITAR</th>
			<th>DELETAR</th>
		</tr>
		<tr
			data-ng-repeat="cliente in clientes | orderBy: varOrdenacao | filter: {'nome':varFiltro}"
			style="cursor: pointer;">
			<td data-ng-click="seleciona(cliente)">{{cliente.idCliente}}</td>
			<td data-ng-click="seleciona(cliente)">{{cliente.nome}}</td>
			<td data-ng-click="seleciona(cliente)">{{cliente.cpf}}</td>
			<td data-ng-click="seleciona(cliente)">{{cliente.endereco}}</td>
			<td data-ng-click="seleciona(cliente)">{{cliente.telefone}}</td>
			<td data-ng-click="seleciona(cliente)" style="text-align: center;"><img src="images/edit-icon.png" class="tam1" /></td>
			<td data-ng-click="seleciona(cliente); deletar()" style="text-align: center;"><img src="images/delete-icon.png" class="tam1" /></td>
		</tr>
	</table>
	</div>
</div>
