
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Crud Pessoa</title>
<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
</head>
<body data-ng-app="appPessoas">
	<div data-ng-controller="PessoaCtrl" >
		<h2>CRUD Pessoas AngularJs</h2>
		<table>
			<tr>
				<td><label>CPF:</label></td>
				<td><input type="text" 
					data-ng-model="pessoa.cpf" /></td>
			</tr>
			<tr>
				<td><label>Nome:</label></td>
				<td><input type="text" 
					data-ng-model="pessoa.nome" /></td>
			</tr>
			<tr>
				<td><label>Endereço:</label></td>
				<td><input type="text" 
					data-ng-model="pessoa.endereco" /></td>
			</tr>
			<tr>
				<td><label>Telefone:</label></td>
				<td><input type="text" 
					data-ng-model="pessoa.fone" /></td>
			</tr>			
		</table>
		<br/>
		<table border="1">
			<tr>
				<th>CPF</th>
				<th>Nome</th>
				<th>Endereço</th>
				<th>Telefone</th>
			</tr>
			<tr data-ng-repeat="pessoa in pessoas">
				<td 
				ng-click="seleciona(pessoa)">{{pessoa.cpf}}</td>
				<td 
				ng-click="seleciona(pessoa)">{{pessoa.nome}}</td>
				<td 
				ng-click="seleciona(pessoa)">{{pessoa.endereco}}</td>
				<td 
				ng-click="seleciona(pessoa)">{{pessoa.fone}}</td>
			</tr>
		</table>
	</div>
		<div>
		<button data-ng-click="novo()">Novo</button>
		<button data-ng-click="salvar()">Salvar</button>
		<button data-ng-click="deletar()">Deletar</button>
		</div>
</body>
</html>
